# Clé de connexion à la base de données PostgreSQL (ex: Supabase, Neon)
DATABASE_URL="postgres://votre_utilisateur:votre_mot_de_passe@votre_serveur.supabase.co:5432/postgres"

# Clé de connexion à Cloudinary (ex: cloudinary://API_KEY:API_SECRET@CLOUD_NAME)
CLOUDINARY_URL="cloudinary://api_key:api_secret@cloud_name"

# Clé secrète pour les sessions JWT (vous pouvez laisser celle-ci ou la changer)
JWT_SECRET="beninlocation_secret_cle_2026_!@#$%"

# Port d'écoute du serveur (par défaut 3000, Render utilisera son propre port)
PORT=3000
